.easybanner-image-link img { vertical-align: top; } /* Remove extra spacing below img */

.easybanner-lightbox-el {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    max-width: 700px;
    text-align: left;
}
.easybanner-lightbox-content {
    overflow: auto;
}
.easybanner-lightbox-el .close-icon,
.easybanner-awesomebar-el .close-icon {
    direction: ltr;
    position: absolute;
    background: #fff;
    color: #000;
    font: bold 18px/23px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    right: 2px;
    top: 2px;
}
.easybanner-lightbox-el .close-icon:hover,
.easybanner-awesomebar-el .close-icon:hover {
    background-color: #eee;
}

.easybanner-overlay-el {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
}

.easybanner-awesomebar-el {
    left: 0;
    top: -400px;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: left;
    z-index: 9998;
    width: 100%;
    -webkit-transition: top 300ms ease;
    -moz-transition: top 300ms ease;
    -o-transition: top 300ms ease;
    transition: top 300ms ease;
}
.easybanner-awesomebar-content {
    width: 960px;
    margin: 0 auto;
    padding: 10px 0;
}
.easybanner-awesomebar-el .close-icon {
    right: 10px;
    top: 10px;
}
@media (max-width: 979px) {
    .easybanner-awesomebar-content { width: auto; padding: 10px; }
}
