.navpro-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .navpro-row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.navpro-row.gutters,
.navpro-row.gutters > .navpro-row {
  margin-left: -12px;
}
@media (max-width: 767px) {
  .navpro-row.gutters,
  .navpro-row.gutters > .navpro-row {
    margin-left: 0;
  }
}
.navpro-row.gutters > .navpro-col,
.navpro-row.gutters > .navpro-row > .navpro-col {
  margin-left: 12px;
}
@media (max-width: 767px) {
  .navpro-row.gutters > .navpro-col,
  .navpro-row.gutters > .navpro-row > .navpro-col {
    margin-left: 0;
  }
}
.navpro-row.around {
  justify-content: space-around;
}
.navpro-row.between {
  justify-content: space-between;
}
.navpro-row.auto .navpro-col {
  flex-grow: 1;
}
.navpro-col-12 {
  width: 100%;
}
.navpro-offset-12 {
  margin-left: 100%;
}
.navpro-col-11 {
  width: 91.66666667%;
}
.navpro-offset-11 {
  margin-left: 91.66666667%;
}
.navpro-col-10 {
  width: 83.33333333%;
}
.navpro-offset-10 {
  margin-left: 83.33333333%;
}
.navpro-col-9 {
  width: 75%;
}
.navpro-offset-9 {
  margin-left: 75%;
}
.navpro-col-8 {
  width: 66.66666667%;
}
.navpro-offset-8 {
  margin-left: 66.66666667%;
}
.navpro-col-7 {
  width: 58.33333333%;
}
.navpro-offset-7 {
  margin-left: 58.33333333%;
}
.navpro-col-6 {
  width: 50%;
}
.navpro-offset-6 {
  margin-left: 50%;
}
.navpro-col-5 {
  width: 41.66666667%;
}
.navpro-offset-5 {
  margin-left: 41.66666667%;
}
.navpro-col-4 {
  width: 33.33333333%;
}
.navpro-offset-4 {
  margin-left: 33.33333333%;
}
.navpro-col-3 {
  width: 25%;
}
.navpro-offset-3 {
  margin-left: 25%;
}
.navpro-col-2 {
  width: 16.66666667%;
}
.navpro-offset-2 {
  margin-left: 16.66666667%;
}
.navpro-col-1 {
  width: 8.33333333%;
}
.navpro-offset-1 {
  margin-left: 8.33333333%;
}
.navpro-col-0 {
  width: 0%;
}
.navpro-offset-0 {
  margin-left: 0%;
}
.navpro .gutters > .navpro-col-12 {
  width: calc(100% - 12px);
}
.navpro .gutters > .navpro-offset-12 {
  margin-left: calc(100% + 12px) !important;
}
.navpro .gutters > .navpro-col-11 {
  width: calc(91.66666667% - 12px);
}
.navpro .gutters > .navpro-offset-11 {
  margin-left: calc(91.66666667% + 12px) !important;
}
.navpro .gutters > .navpro-col-10 {
  width: calc(83.33333333% - 12px);
}
.navpro .gutters > .navpro-offset-10 {
  margin-left: calc(83.33333333% + 12px) !important;
}
.navpro .gutters > .navpro-col-9 {
  width: calc(75% - 12px);
}
.navpro .gutters > .navpro-offset-9 {
  margin-left: calc(75% + 12px) !important;
}
.navpro .gutters > .navpro-col-8 {
  width: calc(66.66666667% - 12px);
}
.navpro .gutters > .navpro-offset-8 {
  margin-left: calc(66.66666667% + 12px) !important;
}
.navpro .gutters > .navpro-col-7 {
  width: calc(58.33333333% - 12px);
}
.navpro .gutters > .navpro-offset-7 {
  margin-left: calc(58.33333333% + 12px) !important;
}
.navpro .gutters > .navpro-col-6 {
  width: calc(50% - 12px);
}
.navpro .gutters > .navpro-offset-6 {
  margin-left: calc(50% + 12px) !important;
}
.navpro .gutters > .navpro-col-5 {
  width: calc(41.66666667% - 12px);
}
.navpro .gutters > .navpro-offset-5 {
  margin-left: calc(41.66666667% + 12px) !important;
}
.navpro .gutters > .navpro-col-4 {
  width: calc(33.33333333% - 12px);
}
.navpro .gutters > .navpro-offset-4 {
  margin-left: calc(33.33333333% + 12px) !important;
}
.navpro .gutters > .navpro-col-3 {
  width: calc(25% - 12px);
}
.navpro .gutters > .navpro-offset-3 {
  margin-left: calc(25% + 12px) !important;
}
.navpro .gutters > .navpro-col-2 {
  width: calc(16.66666667% - 12px);
}
.navpro .gutters > .navpro-offset-2 {
  margin-left: calc(16.66666667% + 12px) !important;
}
.navpro .gutters > .navpro-col-1 {
  width: calc(8.33333333% - 12px);
}
.navpro .gutters > .navpro-offset-1 {
  margin-left: calc(8.33333333% + 12px) !important;
}
.navpro .gutters > .navpro-col-0 {
  width: calc(0% - 12px);
}
.navpro .gutters > .navpro-offset-0 {
  margin-left: calc(0% + 12px) !important;
}
@media (max-width: 767px) {
  [class^='offset-'],
  [class*=' offset-'] {
    margin-left: 0;
  }
}
.navpro .first {
  order: -1;
}
.navpro .last {
  order: 1;
}
@media (max-width: 767px) {
  .navpro-row .navpro-col {
    margin-left: 0;
    width: 100%;
  }
  .navpro-row.gutters .navpro-col {
    margin-left: 0;
    width: 100%;
  }
  .navpro-row.gutters .navpro-col + .navpro-col {
    margin-top: 16px;
  }
  .navpro .first-sm {
    order: -1;
  }
  .navpro .last-sm {
    order: 1;
  }
}
.navpro .gutters .navpro-col.push-left,
.navpro .push-left {
  margin-right: auto;
}
.navpro .gutters .navpro-col.push-right,
.navpro .push-right {
  margin-left: auto;
}
.navpro .gutters .navpro-col.push-center,
.navpro .push-center {
  margin-left: auto;
  margin-right: auto;
}
.navpro .gutters .navpro-col.push-middle,
.navpro .push-middle {
  margin-top: auto;
  margin-bottom: auto;
}
.navpro .push-bottom {
  margin-top: auto;
}
@media (max-width: 767px) {
  .navpro .gutters .navpro-col.push-left-sm,
  .navpro .push-left-sm {
    margin-left: 0;
  }
  .navpro .gutters .navpro-col.push-center-sm,
  .navpro .push-center-sm {
    margin-left: auto;
    margin-right: auto;
  }
  .navpro .push-top-sm {
    margin-top: 0;
  }
}
.navpro .align-middle {
  align-items: center;
}
.navpro .align-right {
  justify-content: flex-end;
}
.navpro .align-center {
  justify-content: center;
}
@media (max-width: 767px) {
  .navpro .align-left-sm {
    justify-content: flex-start;
  }
}
