.slick-slider .slick-slide {
  padding: 10px;
}
.slick-prev,
.slick-next,
.slick-dots li button {
  box-shadow: none !important;
  border: none !important;
}
.slick-prev:hover,
.slick-next:hover,
.slick-dots li button:hover,
.slick-prev:focus,
.slick-next:focus,
.slick-dots li button:focus,
.slick-prev:active,
.slick-next:active,
.slick-dots li button:active {
  border: none;
}
.slick-prev:before,
.slick-next:before {
  color: #aaa;
}
.columns .column.main {
  min-width: 0;
}
.page-layout-1column .block.widget .products-grid .slick-track {
  padding: 10px 0 0 10px;
}
.page-layout-1column .block.widget .products-grid .slick-slider .product-item,
.page-layout-1column .block.widget .products-grid .slick-slider .product-item:nth-child(4n + 1) {
  margin: 0;
}
